* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 35% 30% 35%;
  overflow: hidden;
}
.sky {
  background-image: linear-gradient(
    to bottom,
    rgb(64, 182, 230),
    rgb(136, 199, 224),
    rgb(220, 227, 230)
  );
  overflow: hidden;
}
.green {
  background-image: linear-gradient(
    to top,
    rgb(8, 97, 8),
    rgb(122, 233, 122),
    rgb(201, 243, 201)
  );
}
.road {
  background-color: rgb(36, 34, 34);
  border-top: slategray 5px solid;
  position: relative;
}
.doted-lines {
  border: dotted 2px white;
  transform: translateY(7rem);
}
.car-1 {
  width: 20%;
  position: absolute;
  top: -70px;
  left: 0;
  overflow: hidden;
  animation-name: car1;
  animation-duration: 10s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  /* animation-iteration-count: infinite; */
}

.car-2 {
  width: 20%;
  position: absolute;
  top: -90px;
  right: 0;
  animation-name: car2;
  animation-duration: 12s;
  /* animation-iteration-count: infinite; */
  overflow: hidden;
  /* animation-fill-mode: backwards; */
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  z-index: 5;
}
.car-3 {
  width: 20%;
  position: absolute;
  top: -90px;
  right: 0;
  animation-name: car3;
  animation-duration: 15s;
  animation-delay: 1s;
  /* animation-fill-mode: backwards; */
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  z-index: 6;
}
.moto {
  width: 12%;
  position: absolute;
  top: -30px;
  left: -200px;
  animation-name: moto;
  animation-duration: 10s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
.truck {
  width: 12%;
  position: absolute;
  top: -30px;
  left: -200px;
  animation-name: moto2;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 7s;
  /* left: -200px; */
}

.cloud {
  width: 20%;
  position: absolute;
  top: 0;
  animation-name: cloud1;
  animation-duration: 450s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.cloud2 {
  width: 30%;
  position: absolute;
  top: 10;
  left: 0;
  animation-name: cloud2;
  animation-duration: 500s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.cloud3 {
  width: 25%;
  position: absolute;
  top: 10;
  left: 45%;
  animation-name: cloud3;
  animation-duration: 700s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.erro1 {
  width: 15%;
  position: absolute;
  top: 15%;
  left: 0;
  animation-name: erro1;
  animation-duration: 25s;
  animation-delay: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.erro2 {
  width: 3%;
  position: absolute;
  top: 27%;
  right: 20%;
  animation-name: erro2;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
body {
  overflow: hidden;
}
